<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.relaxed.boot.loan.mapper.BankCodeMapper">

	<resultMap id="bankCodeMap" type="com.relaxed.boot.loan.model.entity.BankCode">
  		<id property="bankCodeId" column="bank_code_id"/>
    		<result property="bankCode" column="bank_code"/>
    		<result property="bankName" column="bank_name"/>
    		<result property="remark" column="remark"/>
    		<result property="createdTime" column="created_time"/>
    		<result property="updatedTime" column="updated_time"/>
      </resultMap>

	<sql id="Base_Column_List">
		bank_code_id,        
		bank_code,        
		bank_name,        
		remark,        
		created_time,        
		updated_time        
	</sql>

	<sql id="Base_Alias_Column_List">
		bc.bank_code_id,        
		bc.bank_code,        
		bc.bank_name,        
		bc.remark,        
		bc.created_time,        
		bc.updated_time        
	</sql>
</mapper>