<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.relaxed.boot.loan.mapper.ProjectMapper">

	<resultMap id="projectMap" type="com.relaxed.boot.loan.model.entity.Project">
  		<id property="projectId" column="project_id"/>
    		<result property="partnerId" column="partner_id"/>
    		<result property="productId" column="product_id"/>
    		<result property="trustPlanId" column="trust_plan_id"/>
    		<result property="projectCode" column="project_code"/>
    		<result property="projectName" column="project_name"/>
    		<result property="sealId" column="seal_id"/>
    		<result property="keystoreId" column="keystore_id"/>
    		<result property="deleted" column="deleted"/>
    		<result property="createdTime" column="created_time"/>
    		<result property="updatedTime" column="updated_time"/>
      </resultMap>

	<sql id="Base_Column_List">
		project_id,        
		partner_id,        
		product_id,        
		trust_plan_id,        
		project_code,        
		project_name,        

seal_id,
keystore_id,
		deleted,        
		created_time,        
		updated_time        
	</sql>

	<sql id="Base_Alias_Column_List">
		p.project_id,        
		p.partner_id,        
		p.product_id,        
		p.trust_plan_id,        
		p.project_code,        
		p.project_name,        
		 p.seal_id,
p.keystore_id,
		p.deleted,        
		p.created_time,        
		p.updated_time        
	</sql>
</mapper>
